modules = ["nodejs-16", "web"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 6767
externalPort = 3000

[[ports]]
localPort = 6969
externalPort = 80
