@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
    --primary-color: blue;
    --uv: #6F00FF;
    /*--primary-color: #7b68ee;*/
    --primary-light: #9a88ff;
    --secondary-color: #5d5c61;
    --tertiary-color: linear-gradient(45deg, #f39c12, #8e44ad);
    --glass-weak: rgba(255, 255, 255, 0.05);
    --glass-mid: rgba(255, 255, 255, 0.08);
    --glass-background: rgba(255, 255, 255, 0.15);
    --glass-border: rgba(255, 255, 255, 0.2);
    --accent-color: #b0e0e6;
    --text-color: #cdd6f4;
    --input-bg: rgba(255, 255, 255, 0.1);
    --button-text-color: #ffffff;
    --shadow-light: rgba(0, 0, 0, 0.15);
    --shadow-strong: rgba(0, 0, 0, 0.3);
    --card-bg: rgba(0, 0, 0, 0.3);
    --player-bg: rgba(0, 0, 0, 0.4);
    --player-button-bg: var(--primary-color);
    --player-button-hover-bg: var(--primary-light);
    --player-text-color: var(--text-color);
    --ai-analysis-bg: rgba(255, 255, 255, 0.05);
    --ai-analysis-text: rgba(255, 255, 255, 0.8);
}
body {
    font-family: 'Poppins', sans-serif;
   color: blue;
    animation: glowingAnimation 4s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
      overflow: hidden; /* Optional: to prevent internal scrolling */
}
.nav {
   padding: 1rem;
   transition: transform 0.5s ease;
   border-radius: 0 10px 10px 0;
   transform: translateX(0);
   width: 100vw;
   height: 0.5vw;
   display: flex;
   align-items: center;
}

.close-tab {
   cursor: pointer;
   border: none;
   background: none;
   font-size: 12px;
   color: blue;
    animation: glowingAnimation 4s ease-in-out infinite;
   transition: color 0.3s ease;
   width: 20px;
}



.nav-bar {
   left: 0;
   right: 0;
   height: 2.5em;
   padding: 0 25px;
   box-sizing: border-box;
   transition: 0.35s ease;
   z-index: 100;
   width: 100vw;
   position: fixed;
   background: none;
}
.nav-button {
   border-radius: 100%;
   color: blue;
    animation: glowingAnimation 4s ease-in-out infinite;
  background: transparent;
   height: 2em;
   width: 3em;
   border: none;
   right: 15px;
   top: auto;
   box-sizing: border-box;
   margin-right: 15px;
   transition: all 0.3s ease;
   margin-top: 0 auto;
   margin-bottom: 0 auto;
   cursor: pointer;
}
/*
.nav-button:hover {
   background-color: rgba(255, 255, 255, 0.35);
   cursor: pointer;
}*/
/*
.nav-button {
    position: relative;
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    overflow: hidden;
    border-radius: 50px;
    transition: color 0.3s ease;
}

.nav-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    z-index: 0;
}

.nav-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.nav-button:hover {
    color: rgba(255, 255, 255, 0.35);
    z-index: 1;
}*/
 video#bg-video {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
      object-fit: cover;
    }
.nav-btn-left {
   float: left;
}

.nav-btn-right {
   float: right;
}

.nav-container {
   min-width: 5vw;
   min-height: 10vh;
   display: inline;
}

.nav-left {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 1%;
   width: 80%;
}

.nav-right {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 1%;
   width: 20%;
}

.fullscreen .nav-bar {
   display: none;
}

.fullscreen #ifra {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.bar {
   font-family: "Inter", sans-serif;
   font-size: 15px;
   height: 30px;
   background-color: rgba(255, 255, 255, 0.05);
   border: none;
   color: blue;
    animation: glowingAnimation 4s ease-in-out infinite;
   width: 65vw;
   border-radius: 5px;
   margin: 0 auto;
   transition: 0.3s;
   text-align: center;
}

.bar:hover {
   box-shadow: none;
   outline: none;
   transition: 0.3s;
}

.bar:focus {
   box-shadow: none;
   outline: none;
   color: blue;
    animation: glowingAnimation 4s ease-in-out infinite;
   transition: 0.3s;
}

.navpost {
   padding: none;
   float: right;
   margin-top: 0em;
   color: blue;
    animation: glowingAnimation 4s ease-in-out infinite;
   border-radius: 5px;
}

.overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
}

h1 {
   text-align: center;
   color: blue;
    animation: glowingAnimation 4s ease-in-out infinite;
   font-size: 50px;
   white-space: nowrap;
}
h2 {
    font-size: 1.5em;
    color: blue;
     animation: glowingAnimation 4s ease-in-out infinite;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 12px
}
p {
   text-align: center;
   color: blue;
    animation: glowingAnimation 4s ease-in-out infinite;
   font-size: 25px;
}

.frame-container iframe {
   display: none;
}
h6 {
    font-size: 3.7em;
    color: var(--primary-color);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 12px;
    transform: scale(0);
    opacity: 0;
    animation: steadyRise 3s linear forwards;
    will-change: transform, opacity;
    transition: all 0.3s ease;
}
h6:hover {
    color: var(--primary-light);
    transition: color 0.3s ease;
}
@keyframes steadyRise {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: scale(2.2);
        opacity: 1;
    }
}
.frame-container iframe.active {
   display: block;
}
#add-tab {
   padding: 0.5rem;
   cursor: pointer;
   background: transparent;
   color: blue;
    animation: glowingAnimation 4s ease-in-out infinite;
   border: none;
   border-radius: 100%;
   margin-right: 0.5rem;
   transition: background-color 0.3s ease;
}
/*
#add-tab:hover {
   background-color: rgba(255, 255, 255, 0.35);
   cursor: pointer;
}*/
/*
#add-tab {
    position: relative;
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    overflow: hidden;
    border-radius: 50px;
    transition: color 0.3s ease;
}

#add-tab::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    z-index: 0;
}

#add-tab:hover::before {
    transform: translate(-50%, -50%) scale(1); 
}

#add-tab:hover {
    color: rgba(255, 255, 255, 0.35); 
    z-index: 1;
}
*/

ul {
   list-style-type: none;
   padding: 0;
   display: flex;
}

li {
     font-weight: 670;
   transition: all 0.3s ease;
   padding: 0.4rem;
background: rgba(255, 255, 255, 0.15);
   border: none;
   margin-right: 0.5rem;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: blue;
    animation: glowingAnimation 4s ease-in-out infinite;
}

li.active {
   background: rgba(255, 255, 255, 0.35);
   font-weight: 670;
   transition: 0.3s ease;
}



/* --- Container intro (slides up from bottom) --- */
.container.animated-content {
  opacity: 0;
  transform: translateY(50px); /* start offset */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.container.animated-content.show {
  opacity: 1;
  transform: translateY(0);
}

.animated-content {
    opacity: 0;
    transform: scale(-1.7);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animated-content.show {
    opacity: 1;
    transform: translateY(0);
}
iframe {
   position: absolute;
   width: 100%;
   height: 88%;
   border: none;
   left: 0%;
   top: 12%;
}