@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, green, red, black);
  }
  12.5% {
    background: linear-gradient(45deg, yellow, orange, red);
  }
  25% {
    background: linear-gradient(45deg, black, red, green);
  }
  50% {
    background: linear-gradient(45deg, yellow, blue, violet);
  }
  62.5% {
    background: linear-gradient(45deg, green, black, indigo);
  }
  75% {
    background: linear-gradient(45deg, red, orange, blue);
  }
  87.5% {
    background: linear-gradient(45deg, red, indigo, gray);
  }
  100% {
    background: linear-gradient(45deg, green, black, red);
  }
}
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  body[background="animated-gradient"] {
    background: linear-gradient(270deg, #ff007f, #00ff7f, #007fff, #ff7f00, #ff00ff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    --text: #cdd6f4;
  }

  @keyframes gradient {
    0% {
      background: linear-gradient(45deg, green, red, black);
    }
    12.5% {
      background: linear-gradient(45deg, yellow, orange, red);
    }
    25% {
      background: linear-gradient(45deg, black, red, green);
    }
    50% {
      background: linear-gradient(45deg, yellow, blue, violet);
    }
    62.5% {
      background: linear-gradient(45deg, green, black, indigo);
    }
    75% {
      background: linear-gradient(45deg, red, orange, blue);
    }
    87.5% {
      background: linear-gradient(45deg, red, indigo, gray);
    }
    100% {
      background: linear-gradient(45deg, green, black, red);
    }
  }

  body[background="cuhuacadfeelinsadaintnobodycareifugoodorbad"] {
    background: linear-gradient(270deg, #ff007f, #00ff7f, #007fff, #ff7f00, #ff00ff);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    --text: #cdd6f4;
  }

  body[background="cuhs3"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
     url("/assets/media/background/poppingthatGTV.jpg") no-repeat center center fixed;
    background-size: cover;
    --shadow: rgba(0, 0, 0, 0.01);
    --text: #cdd6f4;
  }

  body[background="cuhs"] {
   background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/assets/media/background/stadning.jpg") no-repeat center center fixed;
    background-size: cover;
    --shadow: rgba(0, 0, 0, 0.01);
    --text: #cdd6f4;
  }

  body[background="cuhs2"] {
   background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/media/background/Pacificthatis.jpg") no-repeat center center fixed;
    background-size: cover;
    --shadow: rgba(0, 0, 0, 0.01);
    --text: #cdd6f4; 
  }

  body[background="catppuccin-frappe"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
     url("/assets/media/background/skibididdy.jpg") no-repeat center center fixed;
    background-size: cover;
    --shadow: rgba(0, 0, 0, 0.01);
    --text: #cdd6f4;
  }

  body[background="catppuccin-macchiato"] {
   background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/assets/media/background/rizzyaf.gif") no-repeat center center fixed;
    background-size: cover;
    --shadow: rgba(0, 0, 0, 0.01);
    --text: #cdd6f4;
  }

body[background="skibididdy"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("https://gifdb.com/images/high/cyberpunk-pixel-city-neon-2bagugxcfp2to7tx.gif") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}
body[background="waitWHAT"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/urealizetonight.gif") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}

  body[background="catppuccin-moccha"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url("/assets/media/background/senkbucketup.webp") no-repeat center center fixed;
    background-size: cover;
    --shadow: rgba(0, 0, 0, 0.01);
    --text: #cdd6f4;
  }
body[background="catppuccin-mocha"] {
    background-color: #000014; /* Dark Midnight Blue */
    background-size: cover; /* Ensures the background covers the entire body */
    --shadow: rgba(0, 0, 0, 0.01);
    --text: #cdd6f4;
}
body[background="catppuccin-mochaaa"] {
  background: linear-gradient(45deg, #f39c12, #8e44ad) no-repeat center center fixed;
  background-size: cover;
    --shadow: rgba(0, 0, 0, 0.01);
    --text: #cdd6f4;
}
body[background="catppuccin-mochaa"] {
  background: black no-repeat center center fixed;
  background-size: cover;
    --shadow: rgba(0, 0, 0, 0.01);
    --text: #cdd6f4;
}
  body[background="cuh"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
     url("/assets/media/background/canthurtmewmyogscantnerfmesandyop.png") no-repeat center center fixed;
    background-size: cover;
    --shadow: rgba(0, 0, 0, 0.01);
    --text: #cdd6f4;

 }
body[background="gg"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/gg.jpg") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
} 
body[background="ggccc"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/ggccc.jpg") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}
body[background="whatare"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/600473.png") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}
body[background="youdoing"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/1330526.png") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}
body[background="ru"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/1337139.png") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}
body[background="bi"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/1337140.png") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}
body[background="new"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/new.jpg") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}
body[background="nnew"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/nnew.png") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}
body[background="notnew"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/notnew.png") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}
body[background="nnotnew"] {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url("/assets/media/background/nnotnew.png") no-repeat center center fixed;
    background-size: cover;
    --text: #cdd6f4;
}
body[background="whatis"] {
    background-image: url("https://cdn.shopify.com/s/files/1/1038/1798/files/31._Fluids_Dark_Blue_iPhone_Wallpaper_4k_HD.jpg?v=1707976065");
    --text: #cdd6f4;
}
body[theme="catppuccin-mochaa"] {
    --text: #cdd6f4;
  --primary-color: black;
  --primary-light: #111111;
}
body[theme="whats"] {
    --text: #cdd6f4;
  --primary-color: #000014;
  --primary-light: #001f3f;
}
body[theme="whatss"] {
    --text: #cdd6f4;
  --primary-color: #7b68ee;
  --primary-light: #9a88ff;
}
body[theme="whathuzz"] {
    --text: #cdd6f4;
  --primary-color: #32CD32;
  --primary-light: #A6FF00;

}
body[theme="whatwas"] {
    --text: #cdd6f4;
  --primary-color: #f5a97f;       /* Warm peach */
  --primary-light: #f9c7ad;       /* Light warm peach */
}
body[theme="whatis"] {
    --text: #cdd6f4;
  --primary-color: #FDCB6E;
  --primary-light: #FFEAA7;
}
body[theme="whatcuhs"] {
    --text: #cdd6f4;
  --primary-color: #63b3ff;       /* Bright sky blue */
  --primary-light: #a3d1ff;       /* Lighter sky blue */
}
body[theme="whatbuzz"] {
    --text: #cdd6f4;
   --primary-color: #7cc1ff;      /* Soft sky blue */
    --primary-light: #b9d9ff;
}
body[theme="whathuhs"] {
    --text: #cdd6f4;
  --primary-color: #7cffdb;      /* Aquamarine */
  --primary-light: #b9fff0;      /* Light aquamarine */
}
body[theme="whatluhs"] {
    --text: #cdd6f4;
  --primary-color: #ff5c79;      /* Soft pink-red */
  --primary-light: #ffa1a9;      /* Light pink */
}
body[theme="whatfuhs"] {
    --text: #cdd6f4;
  --primary-color: #cdd104;  /* vivid pink */
  --primary-light: orange;  /* lighter pink */
}